*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.example-unit{
    padding:50px 20px;
    cursor:pointer;
    border-radius:5px;
    text-align:center;
}

#exTap1{
    background:#9B001C;
    color:#FFF;
}

#exDoubleTap1{
    background:#A2EF00;
    color:#FFF;
}

#exHold1{
    background:#007241;
    color:#FFF;
}