
.example-unit{
    padding:50px 20px;
    cursor:pointer;
    border-radius:5px;
    text-align:center;
}

#exTap1{
    background:#9B001C;
    color:#FFF;
}

#exHold1{
    background:#007241;
    color:#FFF;
}